/* Fixes for other CSS stuff */

#container,
.navbar-static-top,
.navbar-inner {
    padding: 0 !important;
}

.alert-block.alert-error {
    margin: 20px;
}

.alert-block.alert-success {
    margin: 20px 0;
}

.alert h4{
    margin-bottom: 10px !important;
}

.alert-error h4 {
    border-bottom: 1px solid #B94A48;
}

.form .btn-warning {
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
}

/* Taxbot CSS Global */

body {
    background: url(../img/background.png) fixed;
    background:    -moz-radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent) fixed no-repeat, url(../img/background.png) fixed;
    background:     -ms-radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent) fixed no-repeat, url(../img/background.png) fixed;
    background:      -o-radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent) fixed no-repeat, url(../img/background.png) fixed;
    background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent) fixed no-repeat, url(../img/background.png) fixed;
    background:         radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent) fixed no-repeat, url(../img/background.png) fixed;
    padding-top: 59px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#nav {
    background:    -moz-linear-gradient(#222, #111);
    background:     -ms-linear-gradient(#222, #111);
    background:      -o-linear-gradient(#222, #111);
    background: -webkit-linear-gradient(#222, #111);
    background:         linear-gradient(#222, #111);
    background-color: #1B1B1B;
    border: 1px solid #252525;
    border-width: 1px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* Switch to wrapping/scrolling of nav-bar on small screens */
@media (max-width: 745px) {
    body {
        padding-top: 0 !important;
    }
    #nav {
        overflow: hidden;
        position: static;
    }
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav a {
    background-position: 50% 5px;
    background-repeat: no-repeat;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    min-width: 29px;
    padding: 34px 10px 5px;
    text-align: center;
    text-shadow: 1px 1px #000;
       -moz-transition: background-color 0.5s;
        -ms-transition: background-color 0.5s;
         -o-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
            transition: background-color 0.5s;
}

#nav a.dashboard {
    background-image: url(../img/nav-dashboard.png);
    background-position: 10px 5px;
    border-left: 0;
    min-width: 150px;
    text-align: left;
}

#nav a.expenses {
    background-image: url(../img/nav-expenses.png);
}

#nav a.trips {
    background-image: url(../img/nav-trips.png);
}

#nav a.reports {
    background-image: url(../img/nav-reports.png);
}

#nav a.banking {
    background: url(../img/nav-banking.png) 50% 5px no-repeat;
    background: url(../img/nav-beta.png) top right no-repeat, url(../img/nav-banking.png) 50% 5px no-repeat;
}

#nav a.education {
    background-image: url(../img/nav-education.png);
}

#nav a.help {
    background-image: url(../img/nav-help.png);
}

#nav a.settings {
    background-image: url(../img/nav-settings.png);
}

#nav a.logout {
    background-image: url(../img/nav-logout.png);
}

#nav a.active,
#nav a:hover {
    background-color: #5e5e5e;
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

#canvas {
    padding: 0 20px;
}

.placeholder {
    color: #aaa;
}

/* Taxbot Tables */

#canvas table {
    border-collapse: separate !important;
    border-spacing: 0;
    margin: 20px 0;
    width: 100%;
}

tr {
    margin-right: 7px;
    vertical-align: middle;
}

td {
    background: #fbfbfb;
    padding: 0 5px;
}

tr td:first-child {
    padding-left: 10px;
}

tr td:last-child {
    padding-right: 10px;
}

tr.blue td {
    background:    -moz-linear-gradient(#6697f3, #143daf);
    background:     -ms-linear-gradient(#6697f3, #143daf);
    background:      -o-linear-gradient(#6697f3, #143daf);
    background: -webkit-linear-gradient(#6697f3, #143daf);
    background:         linear-gradient(#6697f3, #143daf);
    background-color: #416ed3;
    box-shadow: 0 1px 3px -1px #fff inset;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 39px;
    line-height: 39px;
    text-shadow: 0 1px #000;
}

tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tr.blue td .btn {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 6px;
}

tr.gray td {
    background: #8f939c;
    background:    -moz-linear-gradient(#777b84, #aaafb5);
    background:     -ms-linear-gradient(#777b84, #aaafb5);
    background:      -o-linear-gradient(#777b84, #aaafb5);
    background: -webkit-linear-gradient(#777b84, #aaafb5);
    color: #fff;
    font-weight: bold;
    height: 35px;
}

tr.form > td {
    background: #fbfbfb;
    height: 30px;
    padding: 5px;
}

tr.form + tr.form > td {
    border-top: 1px solid #c8c8c8;
}

tr.form + tr.chart td {
    border-top: 1px solid #c8c8c8;
}

table.form {
    margin: 0 !important;
    width: 100%;
}

table.form td {
    padding: 0;
}

table.form input,
table.form select {
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    height: 30px;
    line-height: 30px;
    margin: 0;
    outline: none;
    width: 100%;
}

table.form input {
    height: 28px;
    padding: 0 0 0 5px;
    width: 95%;
    width:    -moz-calc(100% - 6px);
    width:     -ms-calc(100% - 6px);
    width:      -o-calc(100% - 6px);
    width: -webkit-calc(100% - 6px);
    width:         calc(100% - 6px);
}

table.form input[type="checkbox"] {
    width: auto;
    height: auto;
}

table.form td.add-on {
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    padding: 0 5px;
}

table.form td.spacer {
    display: block;
    width: 5px;
}

.text-icon {
    text-align: center;
    width: 14px;
}

tr.chart td {
    background: #fbfbfb;
    height: 400px;
    padding: 10px;
}

tr.colored td,
tr.record td {
    height: 40px;
}

tr.colored:nth-child(odd) td,
tr.record:nth-child(odd) td {
    background: #ececec;
}

tr.colored + tr.colored td,
tr.record + tr.record td {
    border-top: 1px solid #c8c8c8;
}

tr.record td:first-child {
    color: #999;
    font-weight: bold;
    white-space: nowrap;
}

tr.record td:nth-child(2) {
    font-weight: bold;
}

tr.record td:nth-child(5) {
    font-weight: bold;
    text-align: right;
    width: 1px;
}

tr.record td:last-child {
    white-space: nowrap;
    width: 1px;
}

td.sort-column {
    cursor: pointer;
}

td.sort-column:hover {
    background: #6c7075;
    background:    -moz-linear-gradient(#595c63, #7f8387);
    background:     -ms-linear-gradient(#595c63, #7f8387);
    background:      -o-linear-gradient(#595c63, #7f8387);
    background: -webkit-linear-gradient(#595c63, #7f8387);
}

/* Misc Specific Stuff */

.iframe,
.google-map,
.receipt {
    overflow: hidden;
    padding: 0 !important;
}

.iframe iframe {
    border: 0;
    height: 500px;
    width: 100%;
}

.receipt img {
    display: block;
    height: auto;
    width: 100%;
}

.required-field {
    background-color:#bbb !important;
}

#settings tr.colored button {
    text-align: left;
    width: 100%;
}

#preferences select {
    margin-top: 7px;
    width: 250px;
}

/* Dashboard Specific Stuff */

#dashboard-deductions {
    background: none repeat scroll 0 0 orange;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5) inset;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

