body {
	background: url('/static/images/graveyard.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

.center-screen {
	padding: 5px;
	margin: 5px auto 0 auto;
	height: 300px;
	width: 300px;
	background-color: gray;
}

