.background {
	width: 100%;
	height: 100%;
	background: url('/static/images/zombieGraveyard.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

h1, h2, h3, ul, label {
	color: white;
	font-family: 'Walter Turncoat', cursive;
	letter-spacing: 2px;
}
li > a {
	color: black;
	font-size: 18px;
}
	a:hover {
		color: white;
		cursor: pointer;
	}

/*********************************************************/
/******* STYLE FOR LANDING PAGE **************************/
/*********************************************************/
.walter-turncoat {
	font-family: 'Walter Turncoat', cursive;
	letter-spacing: 2px;
}

.full-btn {
	width: 100%;
}

.center-screen {
	position: absolute;
	border-radius: 2px;
	z-index: 100;
	left: 50%;
	margin-left: -150px;
	margin-top: 100px;
	padding: 5px;
	min-height: 250px;
	width: 300px;
	text-align: center;
	background-color: rgba(22, 22,22, 0.6);
}

.head-spacing{
	margin-top: 0px;
}

#homelogo {
	width: 290px;
}

#myCanvas {
	background: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.checkbox label {
	color: white;
}


/*********************************************************/
/******* STYLE FOR NAV MENU (HAZARD SYMBOL) **************/
/*********************************************************/
.top-right {
	position: absolute;
	top: 20px;
	right: 15px;
	width: 50px;
	height: 50px;
	z-index: 100;
}


.top-right-form {
	position: absolute;
	width: 300px;
	top: 15px;
	right: 75px;
	z-index: 150;
}
	.top-right-form form {
		width: 300px;
	}

.top-right img,
.top-right {
	width:50px;
	height:50px;
	transition:width 1s, height 1s;
	-webkit-transition:width 1s, height 1s, -webkit-transform 1s; /* Safari */
}

.top-right-rotate { /*used to be the hover function*/
	width:50px;
	height:50px;
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg); /* Safari */
}

.top-right-panel {
	position: absolute;
	color: gray;
	margin: 8px 10px 0 10px;
	top: 13px;
	right: 65px;
	z-index: 150;
}
	.top-right-panel span {
		width: 50px;
		height: 25px;
		margin: 15px 5px;
	}
	.top-right-panel span a {
		display: block;
		width: 100%;
		height: 100%;
	}
	.dashboard {
		background-image: url('/static/images/icons/glyphicons_020_home_white.png');
		background-repeat: no-repeat;
		background-position:center;
	}
		.dashboard:hover {
			background-image: url('/static/images/icons/glyphicons_020_home.png');	
		}
	.editor {
		background-image: url('/static/images/icons/glyphicons_280_settings_white.png');
		background-repeat: no-repeat;
		background-position:center;
	}
		.editor:hover {
			background-image: url('/static/images/icons/glyphicons_280_settings.png');	
		}
	.settings {
		background-image: url('/static/images/icons/glyphicons_136_cogwheel_white.png');
		background-repeat: no-repeat;
		background-position:center;
	}
		.settings:hover {
			background-image: url('/static/images/icons/glyphicons_136_cogwheel.png');	
		}
	.logout {
		background-image: url('/static/images/icons/glyphicons_063_power_white.png');
		background-repeat: no-repeat;
		background-position:center;
	}
		.logout:hover {
			background-image: url('/static/images/icons/glyphicons_063_power.png');	
		}


/*********************************************************/
/******* STYLE FOR PROFILE & SETTINGS PAGE ***************/
/*********************************************************/
#content {
	background-color: rgba(22, 22,22, 0.8);
	min-height: 750px;
	margin-top: 50px;
	border-radius: 5px;
	padding: 25px 50px;
	overflow: auto;
}
	#content h1 {
		text-align: center;
	}

.centered-img {
	text-align: center;

}
	.logo {
		width: 295px;
	}

.row > div {
	text-align: center;
	border-radius: 5px;
	padding-top: 10px; padding-bottom: 10px;
}
	.col-attrib {
		background-color: rgba(100, 100,100, 0.8);
	}

.profile-pic img {
	width: 100%;
	border: 2px solid black;
	margin: 10px auto 10px auto;
}

.box {
	height: 100px;
	border-radius: 5px;
}

#win {
	background-color: green;
}

#loss {
	background-color: red;
}

.full-height {
	min-height: 500px;
}

.left-align {
	text-align: left;
}

.padding-left {
	padding-left: 15px;
}

.remove-margin {
	margin: 0 !important;
}

.add-margin {
	margin: 0 0 10px 0;
}

.red {
	color: red;
}

.red:hover {
	color: black;
}

table {
	margin-left: 30px;
}

td {
	padding-right: 35px;
}

/*********************************************************/
/******* STYLE FOR MAP EDITOR PAGE ***********************/
/*********************************************************/
#map {
	background-color: white;
}
<<<<<<< HEAD
	#content h1 {
		color: black;
	}
.zero{
	width:40px;
	height:40px;
	background:url("/static/images/bottom.png") 0 0;
	display:block;
}

/*********************************************************/
/******* STYLE FOR MAP EDITOR ****************************/
/*********************************************************/
#tiles {
  display: inline-block;
  width: 360px;
}

.tile {
  border: 2px solid white;
  display: inline-block;
}

.selected {
  border: 2px solid black;
}

canvas {
  position: absolute;
}

#grid {
  border: 1px solid;
}

#toggle {
  position: absolute;
  top: 400px;
  left: 150px;
}
#testMap {
  position: absolute;
  top: 400px;
  left: 250px;
}
#saveMap {
  position: absolute;
  top: 400px;
  left: 350px;
}
.hidden {
  opacity: 0;
}
#grid {
	background-color: blue;
}

