
{{!-- <form id="gamesWonForm">
	<input type="text" id="gamesWon" name="gamesWon" placeHolder="Games Won">
	<button type="submit" id="submit">Update Games Won</button>
</form> --}}
<a href="/"><img src="/static/images/Logo.png" class="img-rounded logo"></a>

<div class="row">

	<div class="col-md-3 profile-pic col-attrib">
		<img src="/static/images/profileDefault.jpg" class="img-rounded">
		<h2 class="walter-turncoat"><a href="#settings">{{user}} profile</a></h2> 
											{{!-- WILL LINK TO THE EDIT PROFILE PAGE --}}

		<div class="row">

 			<div class="col-md-6">
 				<div class="box" id="win">
 					<p>Wins</p>
 					<h1>{{userinfo.games_won}}</h1>
 				</div>
 			</div>

 			<div class="col-md-6">
 				<div class="box" id="loss">
 					<p>Losses</p>
 					<h1>{{userinfo.games_lost}}</h1>
 				</div>
 			</div> 
		</div>  {{!-- END OF LEFT SIDE BAR --}}
	</div> 

 	<div class="col-md-8 col-md-offset-1 col-attrib left-align"> 			

 		<h3 class="left-align">Created Maps</h3>
 		<ul class="left-align">
 			{{#each maps}}
 				{{#with attributes}}
 					<li><a href="#">{{title}} </a></li>
 				{{/with}}
 			{{/each}}
 		</ul>

 	</div>

</div>