<h1 class="walter-turncoat">Welcome to the dashboard</h1>
{{!-- <form id="gamesWonForm">
	<input type="text" id="gamesWon" name="gamesWon" placeHolder="Games Won">
	<button type="submit" id="submit">Update Games Won</button>
</form> --}}
<div class="row walter-turncoat">
	<div class="col-md-3 profile-pic">
		<h1>hello, {{user}}</h1>
		<img src="http://www.safenetworksecurities.com/images/securekeyboard.jpg" alt="user picture" class="img-rounded">
	</div>
 	<div class="col-md-8 col-md-offset-1">
 		<div class="row">
 			<div class="col-md-4">Hello</div>
 			<div class="col-md-4">Hello</div>
 			<div class="col-md-4">Hello</div>
 		</div>
 	</div>

</div>