<div class="top-right">
    <img src="/static/images/hazard.png">
</div>
<div class="top-right-panel" style="display: none">
	<div class="navbar navbar-inverse">
		<span class="navbar-text"></a>Welcome, <a href="/web">{{user}}</a></span>
		<span class="navbar-text"><a href="/logout">Logout.</a></span>
	</div>
</div>
<h1>Welcome to the dashboard</h1>
<form id="gamesWonForm">
	<input type="text" id="gamesWon" name="gamesWon" placeHolder="Games Won">
	<button type="submit" id="submit">Update Games Won</button>
</form>