<div class="row">
	<div class="navbar navbar-inverse" style="z-index:0">
		<div class="navbar-header">
			<a id="playMap" class="navbar-brand walter-turncoat" href="#">Play Map</a>
		</div>
		<form class="navbar-form navbar-left">
			<input type="text" id="mapTitle" class="form-control" placeholder="Untitled map">
			<select id="env">
				<option value="normal">Normal</option>
				<option value="rainy">Rainy</option>
				<option value="cloudy">Cloudy</option>
				<option value="dark">Dark</option>
			</select>
		</form>
		<div>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tiles <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a id="showBottomTiles" class="tileSetSwitch">Ground Tiles (ctl+1)</a></li>
						<li><a id="showMiddleTiles" class="tileSetSwitch">Middle Tiles (ctl+2)</a></li>
						<li><a id="showTopTiles" class="tileSetSwitch">Top Tiles (ctl+3)</a></li>
						<li><a id="showEventTiles" class="tileSetSwitch">Events (ctl+4)</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" id="toolBoxToggle" data-toggle="dropdown" class="dropdown-toggle">Toolbox <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a id="undo" class="historyAction">Undo (ctl+z)</a></li>
						<li><a id="redo" class="historyAction">Redo (ctl+y)</a></li>
						<li><a id="copy" class="">Copy (ctl+c)</a></li>
						<li><a id="paste" class="">Paste (ctl+v)</a></li>
						<li><a id="toggle" class="">Toggle Grid (ctl+g)</a></li>
					</ul>
				</li>
				<li><a id="eraser" class="funcSwitcher showing">Erase (ctl+e)</a></li>
				<li><a id="draw" class="funcSwitcher">Draw (ctl+d)</a></li>
			</ul>
		</div>
	</div>
</div>

<div>
	<div id="tilesBottom" class="displayed tileSet" oncontextmenu="return false" style="display: inline-block;"></div>
	<div id="tilesMiddle" class="tileSet" oncontextmenu="return false" style="display: inline-block;"></div>
	<div id="tilesTop" class="tileSet" oncontextmenu="return false" style="display: inline-block;"></div>
	<div id="tilesEvents" class="tileSet" oncontextmenu="return false" style="display: inline-block;"></div>
</div>

<div class="center">
	<canvas id="mapBottom" class="mapEditorCanvas" oncontextmenu="return false" width="600" height="600"></canvas>
	<canvas id="mapMiddle" class="mapEditorCanvas" oncontextmenu="return false" width="600" height="600"></canvas>
	<canvas id="mapTop" class="mapEditorCanvas" oncontextmenu="return false" width="600" height="600"></canvas>
	<canvas id="mapEvents" class="mapEditorCanvas" oncontextmenu="return false" width="600" height="600"></canvas>
	<canvas id="grid" class="grid mapEditorCanvas" oncontextmenu="return false" width="600" height="600"></canvas>
	<canvas id="copyCanvas" class="mapEditorCanvas" oncontextmenu="return false" width="600" height="600"></canvas>
</div>

<div class="bottom-left">
	Left Click
	<div>
		<canvas id="leftClickTile" oncontextmenu="return false" width="40" height="40"></canvas>
	</div>
</div>

<div class="bottom-right">
	Right Click
	<div>
		<canvas id="rightClickTile" oncontextmenu="return false" width="40" height="40"></canvas>
	</div>
</div>

<div id="modal" style="z-index: 5000;"></div>
