<label for="mapTitle">Title:</label><input type="text" id="mapTitle">
<button id="showBottomTiles" class="tileSetSwitch left-tab">Ground</button>
<button id="showMiddleTiles" class="tileSetSwitch bottom-tab">Middle</button>
<button id="showTopTiles" class="tileSetSwitch right-tab">Top</button>
<button id="showEventTiles" class="tileSetSwitch">Events</button>
<button id="eraser" class="funcSwitcher showing">Erase</button>
<button id="draw" class="funcSwitcher">Draw</button>
<button id="undo" class="historyAction">Undo</button>
<button id="redo" class="historyAction">Redo</button>
<div id="tilesBottom" class="displayed tileSet" oncontextmenu="return false" style="display: inline-block;"></div>
<div id="tilesMiddle" class="tileSet" oncontextmenu="return false" style="display: inline-block;"></div>
<div id="tilesTop" class="tileSet" oncontextmenu="return false" style="display: inline-block;"></div>
<div id="tilesEvents" class="tileSet" oncontextmenu="return false" style="display: inline-block;"></div>
<button id="toggle">Toggle Grid</button>
<button id="testMap">Test It!</button>
<button id="saveMap">Save Map</button>
<canvas id="mapBottom" class="mapEditorCanvas" oncontextmenu="return false" width="320" height="320"></canvas>
<canvas id="mapMiddle" class="mapEditorCanvas" oncontextmenu="return false" width="320" height="320"></canvas>
<canvas id="mapTop" class="mapEditorCanvas" oncontextmenu="return false" width="320" height="320"></canvas>
<canvas id="mapEvents" class="mapEditorCanvas" oncontextmenu="return false" width="320" height="320"></canvas>
<canvas id="grid" class="grid mapEditorCanvas" oncontextmenu="return false" width="320" height="320"></canvas>
