<div id="tiles" oncontextmenu = "return false" style = "display: inline-block;"></div>
<canvas id="map" class="map" oncontextmenu = "return false" width="320" height="320"></canvas>
<canvas id="grid" class="grid" oncontextmenu = "return false" width="320" height="320"></canvas>

<button id="toggle">Toggle Grid</button>
<button id="testMap">Test It!</button>
<button id="saveMap">Save Map</button>