<<<<<<< HEAD
<canvas oncontextmenu = "return false" id="map" width="320" height="320"></canvas>
<canvas oncontextmenu = "return false" id="grid" width="320" height="320"></canvas>
<div oncontextmenu = "return false" id="tiles"></div>
  <button id="toggle">Toggle Grid</button>
=======
>>>>>>> 1af9f0f772c81574f8c42ab1a177e66cce14d910
