<div>
<table oncontextmenu = "return false" style = "background-color:white;" id = "selectionTool">
                                <tr><td val = "0"><img class = "0"/>0</td><td val = "1"><img class = "1"/>1</td><td val = "2"><img class = "2"/>2</td><td val = "3"><img class = "3"/>3</td></tr>
                                <tr><td val = "4"><img class = "4"/>4</td><td val = "5"><img class = "5"/>5</td><td val = "6"><img class = "6"/>6</td><td val = "7"><img class = "7"/>7</td></tr>
                                <tr><td val = "8"><img class = "8"/>8</td><td val = "9"><img class = "9"/>9</td><td val = "10"><img class = "10"/>10</td><td val = "11"><img class = "11"/>11</td></tr>
                                <tr><td val = "12"><img class = "12"/>12</td><td val = "13"><img class = "13"/>13</td><td val = "14"><img class = "14"/>14</td><td val = "15"><img class = "15"/>15</td></tr>
                                <tr><td val = "16"><img class = "16"/>16</td><td val = "17"><img class = "17"/>17</td><td val = "18"><img class = "18"/>18</td><td val = "19"><img class = "19"/>19</td></tr>
                                <tr><td val = "20"><img class = "20"/>20</td><td val = "21"><img class = "21"/>21</td><td val = "22"><img class = "22"/>22</td><td val = "23"><img class = "23"/>23</td></tr>
                                <tr><td val = "24"><img class = "24"/>24</td><td val = "25"><img class = "25"/>25</td><td val = "26"><img class = "26"/>26</td><td val = "27"><img class = "27"/>27</td></tr>
                                <tr><td val = "28"><img class = "28"/>28</td><td val = "29"><img class = "29"/>29</td><td val = "30"><img class = "30"/>30</td><td val = "31"><img class = "31"/>31</td></tr>
                                <tr><td val = "32"><img class = "32"/>32</td><td val = "33"><img class = "33"/>33</td><td val = "34"><img class = "34"/>34</td><td val = "35"><img class = "35"/>35</td></tr>
                                <tr><td val = "36"><img class = "36"/>36</td><td val = "37"><img class = "37"/>37</td><td val = "39"><img class = "39"/>39</td><td val = "40"><img class = "40"/>40</td></tr>
                                <tr><td val = "41"><img class = "41"/>41</td><td val = "42"><img class = "42"/>42</td><td val = "43"><img class = "43"/>43</td><td val = ""></td></tr>
                            </table>
<canvas oncontextmenu = "return false" id="SelectionCanvas" width="320" height="240" style="border:1px solid #d3d3d3;">
Your browser does not  support the HTML5 canvas tag.</canvas>
</di>
<hr/>
<div style = "background-color:white;" id = "leftClickOption" val = "0">
</div>
<hr/>
<div style = "background-color:white;" id = "rightClickOption" val = "0">
</div>
<hr/>
<div>
<table oncontextmenu = "return false" style = "background-color:white;" id = "mapViewer">
<tr><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td></tr>
<tr><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td></tr>
<tr><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td></tr>
<tr><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td></tr>
<tr><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td></tr>
<tr><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td></tr>
<tr><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td></tr>
<tr><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td><td>22</td></tr>
</table>
</div>