<div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">{{person}}</h3>
</div>
<div class="bbm-modal__section">
    <div id="treasure">
        <h4>Select your Item:</h4>
        <input type="radio" name="item" value="1">Shotgun<br>
        <input type="radio" name="item" value="2">Knife<br>
        <input type="radio" name="item" value="3">Machine Gun<br>
    </div>
    <div id="transfer">
        <h4>Destination Map:</h4>
        <select id="mapList">
        {{#each maps}}
            <option>{{this}}</option>
        {{/each}}
        </select>
        <p>New X Coordinate<input type="text" id="d_x" class=""></p>
        <p>New Y Coordinate<input type="text" id="d_y" class=""></p>
    </div>
</div>
<div class="bbm-modal__bottombar">
    <button id="submitEvent">Ok</button>
    <a href="#" class="bbm-button">Close</a>
</div>
