<div class="top-right">
    <img src="/static/images/hazard.png">
</div>
<div class="top-right-panel" style="display: none">
	<div class="navbar navbar-inverse">
		<span class="navbar-text">Welcome, <a href="/web">{{user}}</a></span>
		<span class="navbar-text"><a href="/logout">Logout.</a></span>
	</div>
</div>