<a href="/"><img src="/static/images/Logo.png" class="img-rounded logo"></a>

<div class="row">

	<div class="col-md-3 profile-pic col-attrib full-height">
		<img src="/static/images/profileDefault.jpg" class="img-rounded">
		<button type="button" name="changePic" class="btn btn-success btn-block my-btn walter-turncoat">Change Picture</button>
		<h2> Change your personal information here.</h2>
		<a href="#" class="red">delete accout</a>
	</div> 

 	<div class="col-md-8 col-md-offset-1 col-attrib full-height left-align"> 

	<form class="left-align">
		<label for="firstName">First Name: </label><input class="form-control add-margin" type="text" name="firstName" id="firstName" placeHolder="First name">
		<label for="lastName">Last Name: </label><input class="form-control add-margin" type="text" name="lastName" id="lastName" placeHolder="Last name">
		<label for="userName">User Name: </label><input class="form-control add-margin" type="text" name="userName" id="userName" placeHolder="Username">
		<label for="email">Email: </label><input class="form-control add-margin" type="text" name="email" id="email" placeHolder="Email">
		<div class="checkbox">
			<input id="designer" type="checkbox" name="designer"><label for="designer">Check for map designer account</label>
		</div>
		<button type="button" name="createUser" class="btn btn-danger btn-lg my-btn walter-turncoat">Change Settings</button>
		<button type="button" name="changePass" class="btn btn-primary btn-lg my-btn walter-turncoat">Change Password</button>
		{{!-- If not admin display this button  code ??? --}}
		<button type="button" name="becomeAdmin" class="btn btn-warning btn-lg my-btn walter-turncoat">Become Admin</button>
	</form>

 	</div>
</div>