<div class="centered-img">
	<a href="/">
		<img src="/static/images/Logo.png" class="img-rounded logo">
	</a>
</div>

<div class="row">

	<div class="col-md-3 profile-pic col-attrib full-height">
		<img src="/static/images/profileDefault.jpg" class="img-rounded">
		<button type="button" name="changePic" class="btn btn-success btn-block my-btn walter-turncoat">Change Picture</button>
		<h2> Change your personal information here.</h2>
		<a href="#" class="red">delete account</a>
	</div> 

 	<div class="col-md-8 col-md-offset-1 col-attrib full-height left-align"> 

	<form class="left-align">
		<label for="firstName">First Name: </label><input class="form-control add-margin" type="text" name="firstName" id="firstName" placeHolder="First name" value="{{user_info.first_name}}">
		<label for="lastName">Last Name: </label><input class="form-control add-margin" type="text" name="lastName" id="lastName" placeHolder="Last name" value="{{user_info.last_name}}">
		<label for="userName">User Name: </label><input class="form-control add-margin" type="text" name="userName" id="userName" placeHolder="Username" value="{{user_info.username}}">
		<label for="email">Email: </label><input class="form-control add-margin" type="text" name="email" id="email" placeHolder="Email" value="{{user_info.email}}">
		<div class="checkbox">
			<input id="designer" type="checkbox" name="designer" {{#if zombie_user_account}}checked="true"{{/if}}><label for="designer">Check for map designer account</label>
		</div>

		<div class="col-md-4">
			<button type="button" name="createUser" class="btn btn-danger btn-lg full-btn my-btn walter-turncoat">
				Apply Changes
			</button>
		</div>
		<div class="col-md-4">
			<button type="button" name="changePass" class="btn btn-primary btn-lg full-btn my-btn walter-turncoat">
				Change Password
			</button>
		</div>
		<div class="col-md-4">
			<button type="button" name="becomeAdmin" class="btn btn-warning btn-lg full-btn my-btn walter-turncoat">
				Become Admin
			</button>
		</div>
	</form>

 	</div>
</div>