{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Zombie Dashboard</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">     
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/backbone.modal.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/backbone.modal.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.10.3.custom.css' %}"> 
    <script type="text/javascript">
        var USER = "{{user}}";
        var USER_ID = {{user.id}};
        var STATIC_PREFIX = "{{STATIC_URL}}";
        var HAS_EDITOR_ACCOUNT = "{{has_editor_account}}";
        var FILEPICKER_API_KEY = "{{filepicker_api_key}}";
    </script>
</head>
<body class="background">
    <div id="content" class="row-fluid container"></div>
    <script type="text/javascript" src="{% static 'js/vendor/require.js' %}" data-main="{% static 'js/app' %}"></script>
</body>
</html>