{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
	    <title>Zombie Dashboard</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div id="content" class="row-fluid background"></div>
    	<script type="text/javascript" src="{% static 'js/vendor/require.js' %}" data-main="{% static 'js/app' %}"></script>
    </body>
</html>