{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="user-scalable=no">
	<link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
</head>
<body>

	{% block content %}{% endblock %}

	{% block footer %}{% endblock %}
	
	<script type="text/javascript" src="{% static 'js/fog.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-2.0.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>