{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
</head>
<body>
	
	<div class="background">
		{% block content %}{% endblock %}
	</div>

	{% block footer %}{% endblock %}
	
	<script type="text/javascript" src="{% static 'js/fog.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-2.0.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</body>
</html>