{% extends "base.html" %}

{% block title %}Zombie Attack{% endblock %}

{% block content %}

<div class="center-screen">

	<a href="/"><img src="/static/images/Logo.png" id="homelogo"></a>

	{% if message%}
		<h2 class="walter-turncoat head-spacing">{{message}}</h2>
	{% else %}
		<h2 class="walter-turncoat head-spacing">Enter a new password:</h2>
	{% endif %}

	<form action="" method="POST">
	    {% csrf_token %}    
	    <input name="password" type="password" placeholder="Password" class="form-control">
	    <input name="passwordConfirm" type="password" placeholder="Confirm Password" class="form-control">
		<button type="submit" name="changePassword" class="btn btn-danger btn-lg my-btn full-btn walter-turncoat">Change Password</button>
	</form>

</div>

<canvas id="myCanvas"></canvas>

{% endblock %}