{% extends "base.html" %}

{% block title %}Zombie Attack sign in{% endblock %}

{% block content %}

<div class="center-screen">

    <a href="/"><img src="/static/images/Logo.png" id="homelogo"></a>

    <h2 class="walter-turncoat head-spacing">Sign in</h2>

    <form method="POST" action="">
    	{% csrf_token %}
    	<input class="form-control" type="text" name="userName" id="userName" placeHolder="Username">
    	<input class="form-control" type="password" name="password" id="password" placeHolder="Password">
    	<button type="submit" name="signIn" class="btn btn-danger btn-lg my-btn full-btn walter-turncoat">Enter Dashboard</button>    
    </form>
</div>

<canvas id="myCanvas"></canvas>

{% endblock %}