{% extends "base.html" %}

{% block title %}Zombie Attack{% endblock %}

{% block content %}

<div class="center-screen">

	<a href="/"><img src="/static/images/Logo.png" id="homelogo"></a>

	<h2 class="walter-turncoat head-spacing">Enter your email:</h2>

	<form action="" method="POST">
	    {% csrf_token %}    
	    <input name="email" type="text" placeholder="Email" class="form-control">
		<button type="submit" name="createUser" class="btn btn-danger btn-lg my-btn full-btn walter-turncoat">Request New Password</button>
	</form>

</div>

<canvas id="myCanvas"></canvas>

{% endblock %}