{% extends "base.html" %}

{% block title %}Zombie Attack{% endblock %}

{% block content %}

<div class="top-right" id="top-right">
	<img src="/static/images/hazard.png">
</div>
{% if user.is_authenticated %}
	<div class="top-right-panel" style="display: none">
		<div class="navbar navbar-inverse">
			<span class="navbar-text dashboard"><a href="/web#dashboard"></a></span>
			{% if has_editor_account %}
				<span class="navbar-text editor"><a href="/web#map-editor"></a></span>
			{% endif %}
			<span class="navbar-text settings"><a href="#settings"></a></span>
			<span class="navbar-text logout"><a href="/logout"></a></span>
		</div>
	</div>
{% else %}
	<div class="top-right-form" style="display: none">
		<form action="" method="POST">
	        {% csrf_token %}    
	        <input name="userName" type="text" placeholder="Username" class="form-control">
	        <input name="password" type="password" id="password" placeholder="Password" class="form-control">
	    </form>
	    <a href="/password-reset">Forgot password?</a>
	</div>
{% endif %}
	
<div class="center-screen">

	<a href="/"><img src="/static/images/Logo.png" id="homelogo"></a>

	<a href="/guest">
		<button id="guest" type="button" class="btn btn-danger btn-lg dropdown-toggle full-btn walter-turncoat">
			Play As Guest
		</button>
	</a>

	<h2 class="walter-turncoat head-spacing">or</h2>
	
	<button id="signIn" type="button" class="btn btn-danger btn-lg dropdown-toggle full-btn walter-turncoat">
		Sign In And Play
	</button>

</div>

<canvas id="myCanvas"></canvas>

{% endblock %}
