{% extends "base.html" %}

{% block title %}Zombie | Attack{% endblock %}

{% block content %}
	
<div class="center-screen">
<!-- Set link to home page -->
	<a href="#"> <img src="/static/images/Logo.png" id="homelogo"> </a>

	<a href="#">
		<button type="button" class="btn btn-danger btn-lg dropdown-toggle full-btn walter-turncoat">
			Play As Guest
		</button>
	</a>

	<h2 class="walter-turncoat or-space">or</h2>
	
	<a href="#">
		<button type="button" class="btn btn-danger btn-lg dropdown-toggle full-btn walter-turncoat">
			Sign In And Play
		</button>
	</a> 

</div>

<canvas id="myCanvas"></canvas>

{% endblock %}
