{% extends "base.html" %}

{% block title %}Zombie Attack sign in{% endblock %}

{% block content %}

  <div class="center-screen">
    <!-- Logo links to home page -->
    <a href="/"><img src="/static/images/Logo.png" id="homelogo"></a>

    <h2 class="walter-turncoat head-spacing">Sign in</h2>

    <form>
      <input class="form-control" type="text" name="userName" id="userName" placeHolder="Username">
      <input class="form-control" type="password" name="password" id="password" placeHolder="Password">
      <button type="submit" name="createUser" class="btn btn-danger btn-lg my-btn full-btn walter-turncoat">Create New User</button>    
    </form>

{% endblock %}